body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LOGIN PAGE */

.bus-logo {
  height: 100vh;
  width: 40%;
}

.login_container {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: row;
}

.login_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 60%;
  padding: 5%;
}

.login_content hr {
  width: 100%;
  margin: 5px 0;
  opacity: 0.4;
}

.login_content h3 {
  font-size: 32px;
  max-width: 85%;
  font-weight: 500;
  padding: 10px 0;
}

.login_content h4 {
  font-size: 24px;
  font-weight: 400;
  padding: 10px 0;
}

.bold {
  font-size: 38px;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .bus-logo {
    display: none;
  }


  .login_container {
    height: 100vh;
  }

  .login_content {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .content h3 {
    font-size: 24px;
  }

  .content h4 {
    font-size: 18px;
  }

  .bold {
    font-size: 30px;
  }
}
/* /LOGIN PAGE */

/* HEADER */

.header {
  width: 100%;
  background-color: black;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  height: 50px;
  position: fixed;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  z-index: 4;
}

.header_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header_links {
  display: flex;
  align-items: center;
}

.header_link {
  font-size: 24px;
  text-decoration: none;
  color: white;
  padding: 0px 20px;
  align-self: center;
}

@media (max-width: 600px) {
  .header_link {
    font-size: 20px;
    padding: 0 5px;
  }
}

@media (max-width: 400px) {
  .header_link {
    font-size: 18px;
    padding: 0 5px;
  }
}

/* /HEADER */

/* HOME */
  
  .main {
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    display: flex;
    background-color: lightblue;
    flex-direction: column;
  }

  .home_content {
    flex: 1 1 auto;
    background-color: lightblue;
  }

/* /HOME */

/* SIDEBAR */
  .sidebar_logo__img, .sidebar_avatar__img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: ease-in-out all .5s;
  }
  
  .sidebar {
    width: 60px;
    transition: all ease-in-out .5s;
    -webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
    min-height: 100%;
    z-index: 3;
  }


  .expanded {
    width: 250px;
  }
  
  .sidebar_logo {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-image: url('./img/spring-meadow-green-fields-landscape-with-mountain-blue-sky-and-clouds-background-cartoon-illustration-for-spring-vector.jpg');
    background-size: cover;
    transition: ease-in-out all .5s;
    flex-direction: column;
    position: relative;
  }

  .expanded_avatar {
    height: 140px;
    padding-bottom: 20px;
  }

  .sidebar_user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.705);
    position: absolute;
    bottom: 0;
    color: white;

  }

  
  .expanded_avatar__img {
    height: 100px;
    width: 100px;
  }

  .logo__name {
    font-size: 32px;
    color: gray;
    padding: 0 5px;
    font-weight: 500;
  }

  .sidebar_link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px;
    cursor: pointer;
  }

  .sidebar_hypertext {
    text-decoration: none;
    color: black;
  }

  .link_item {
    display: flex;
    flex-direction: row;
    color: gray;
    padding:  5px 25px;
    font-size: 22px;
    align-items: center;
    cursor: pointer;
  }

  .link_name {
    display: flex;
    flex-direction: row;
    color: gray;
  }

  .link_name h3 {
    font-weight: 500;
    padding: 0 5px;
  }

  .sidebar_links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .active {
    color: black;
    font-weight: bold;
  }

  /* /SIDEBAR */

  /* FOOTER */

  .footer {
    z-index: 2;
    background-color: rgb(245, 245, 245);
    padding: 10px 5px;
    color: gray;
  }

  /* /FOOTER */

  /* LABEL */
    .label {
      margin-top: 50px;
      padding: 20px ;
      font-size: 19px;
      background-color: white;
    }
  /* /LABEL */

  /* DRIVERSLIST && DIRECTIONSLIST*/
    .drivers_table {
      background-color: white;
      width: 98%;
      align-self: center;
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      position: relative;
      padding-bottom: 100px;
      overflow-x: scroll;
    }
    
    .drivers_row, .directions_row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 10px;
      border-bottom: 1px solid rgb(194, 194, 194);
    }
    
    .drivers_header {
      border-bottom: 2px solid lightblue;
      font-weight: bold;
    }

    
    .directions_row div {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
      min-width: 33%;
    }

    .drivers_row div {
      display: flex;
      justify-content: space-between;
      width: 14%;
      padding: 0 10px;
    }

    .red, .green {
      padding: 4px;
      color: white;
      border-radius: 5px;
    }
    .red {
      background-color: red;
    }
    .green {
      background-color: rgb(3, 189, 3);
    }

    .drivers_pagination {
      display: flex;
      flex-direction: row;
      border: 1px solid rgb(179, 178, 178);
      align-self: center;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    
    .drivers_pagination div{
      border: 1px solid rgb(179, 178, 178);
      padding: 10px 10px;
      font-size: 22px;
      cursor: pointer;
    }

    .active_page {
      background-color: lightskyblue;
      color: white;
    }

    .drivers_filter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 20px;
    }

    .drivers_filter input, .drivers_filter select {
      border-radius: 5px;
      border: 1px solid gray;
      padding: 5px 5px;
      font-size: 15px;
      width: 20%;
    }

    .drivers_search {
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 10px;
    }

    .search_reset {
      background-color: red;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 10px;
      font-size: 14px;
      margin: 0 15px;
      cursor: pointer;
    }

    .search_find {
      background-color: rgb(0, 140, 255);
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 10px;
      font-size: 14px;
      margin: 0 15px;
      cursor: pointer;
    }

    .directions_filter input {
      width: 45%;
    }

    .card {
      /* display: flex; */
      align-items: center;
      flex-direction: column;
      margin: 10px 0;
      display: none;
    }

    .visible {
      display: flex;
    }

    .drivers_row_container {
      display: flex;
      flex-direction: column;
    }

    .card_header {
      background-color: gray;
      width: 80%;
      text-align: center;
      color: white;
      padding: 10px 0;
      margin-bottom: 15px;
    }

    .card_line {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      border-top: 1px solid rgb(179, 178, 178);
      width: 80%;
      padding: 10px 0;
    }
    
    .card_name {
      font-weight: bold;
    }

    .card_name {
      text-align: right;
      width: 15%;
    }

    .card_value {
      text-align: center;
      width: 15%;
    }

    
    @media (max-width: 1100px) {
      .drivers_row div {
        padding: 0px;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        min-width: 150px;
        overflow-x: hidden;
      }

      .drivers_row {
        padding: 5px;
        overflow: visible;
        width: 100%;
        border: none;
      }

      .drivers_table_container {
        overflow-x: scroll;
      }

      .drivers_row .table_icon, .directions_row .table_icon {
        display: none;
      }

      .directions_row {
        border: none;
      }

      .directions_row div {
        min-width: 150px;
      }
      
      .card {
        width: 100%;
        align-self: center;
        justify-self: center;
      }
    }
  /* /DRIVERSLIST && DIRECTIONSLIST*/

  @media (max-width: 500px) {
    .expanded {
      width: 150px;
    }
    .logo__name {
      font-size: 20px;
    }

    .sidebar_link {
      font-size: 12px;
    }

    .link_item {
      font-size: 16px;
    }
  }